<form class="greeting-form" method="get">
    <div class="form-group">
        <label for="greeting">Please enter your greeting</label>
        <input class="form-control" name="greeting" placeholder="Enter Greeting" value="{{greeting}}">
    </div>
    <a class="btn btn-default" href="/?greeting=">Clear</a>
    <input type="submit" class="btn btn-success" value="Send">
</form>
