<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!--<link rel="stylesheet" href="/public/lib/node_modules/bootstrap/dist/css/bootstrap.css">-->
    <!--<link rel="stylesheet" href="/public/lib/node_modules/bootstrap/dist/css/bootstrap-theme.css">-->

    <!--<script src="/public/lib/node_modules/jquery/dist/jquery.js"></script>-->
    <!--<script src="/public/lib/node_modules/bootstrap/dist/js/bootstrap.js"></script>-->
    <script src="/public/main.js"></script>

    <title>Hello, World</title>
</head>
